<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Letters to {insert name}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
        <link href="assets/css/main.css" rel="stylesheet">
    </head>

    <body>
        <div class="envelope">
            <div class="back"></div>
            <div class="letter">
              <div class="text">
                <p>To {insert name} </p>

                <a href="letter.html">Click Me!</a>

                <p>From {insert name}</p>
              </div>
            </div>
            <div class="front"></div>
            <div class="top"></div>
            <div class="shadow"></div>
        </div>
    </body>
  </html>