@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* Defining the theme for the card: colors, fonts, spacing. 
This uses CSS variables - so you only have to change the colors in one place */ 
:root {
  /* The color for your card background and background pattern */ 
  --background: white;
  
  /* Colors for the elements on your card */ 
  --banner-bg: #1C0C5B;
  --banner-txt: white;

  /* Message area colors */ 
  --message-bg: #F1EDE9;
  --message-line: #94ACD4;
  --message-txt: #333333;

  /* Fonts */ 
  --font-text: 'Indie Flower', cursive;;

  /* Space and other details */
  --space: 16px;
  --space-xsm: 4px;
  --space-sm: 8px;
  --space-lg: 24px;
  --space-xlg: 48px;
}

* {
    box-sizing: border-box;
}

/* Base template configurations */ 
body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  overflow-x: hidden;

  /* background color - here we are using the variable we created earlier! */ 
  background-color: var(--background);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: purple;
    background: repeating-linear-gradient(var(--message-bg), var(--message-bg) 31px, var(--message-line) 31px, var(--message-line) 32px);
    box-shadow: var(--space-xsm) var(--space-xsm) 15px rgba(0,0,0, .15);
}

.card {
  max-width: 420px;
  height: 100%;
  padding-top: var(--space-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.letter {
    font-family: var(--font-text);
    font-size: 5vh;
    width: 100%;
    height: 100%;
    padding-top: var(--space-lg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background: repeating-linear-gradient(var(--message-bg), var(--message-bg) 31px, var(--message-line) 31px, var(--message-line) 32px);
    box-shadow: var(--space-xsm) var(--space-xsm) 15px rgba(0,0,0, .15);
}

.message {
  max-width: 80%;
  padding: 35px var(--space);
  font-family: var(--font-text);
  font-size: 18px;
  line-height: 32px;
  color: var(--message-txt);
  background-color: var(--message-bg);
}

/* Paper */
.message--paper {
  background: repeating-linear-gradient(var(--message-bg), var(--message-bg) 31px, var(--message-line) 31px, var(--message-line) 32px);
  box-shadow: var(--space-xsm) var(--space-xsm) 15px rgba(0,0,0, .15);
}
/* End - Paper */

/* Block right */
.message--block-right {
  position: relative;
}

.message--block-right::before {
  content: "";
  width: 100vw;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--paper);
  z-index: -1;
}
/* End - Block right */

/* Block left */
.message--block-left {
  position: relative;
}

.message--block-left::before {
  content: "";
  width: 100vw;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--paper);
  z-index: -1;
}
/* End - Block left */

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}
  
/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
