@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--clr-background);
    color: var(--clr-text);
}

span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--clr-primary);
}

.typing {
    color: var(--clr-text);
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
}

.auto-type {
    text-align: center;
    font-size: 1.25em;
}

.typing h2 {
    color: var(--clr-text);
    text-align: center;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: var(--clr-text);
}

a:hover {
    color: var(--clr-primary);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 3em;
    text-align: center;
    padding-bottom: 3vh;
}

h3 {
    font-size: 1em;
    text-align: center;
}

h4 {
    font-size: 0.75em;
    text-align: left;
    padding-top: 3vh;
    padding-left: 25vw;
    padding-right: 25vw;
}

.citation {
    color: grey;
    font-size: 0.5em;
}

/* Footer */
#made p {
    position: relative; bottom: 0px;
    background-color: var(--clr-background);
    text-align: center;
    font-size: 0.5em;
    padding-top: 100px;
    padding-bottom: 15px;
}

/* Colors */
/* Root */
:root {
    --clr-background: #171817;
    --clr-background2: #182f1d;
    --clr-primary: #d25b00;
    --clr-text: white;
    --clr-text2: #0b0d11;
    --clr-cards: black;
}

/* Light Mode */ 
.light-mode {
    --clr-background: #fefaf4;
    --clr-background2: #ffe4bf;
    --clr-primary: #d25b00;
    --clr-text: #0b0d11;
    --clr-cards: white;
}

/* Dark Mode */
.dark-mode {
    --clr-background: #171817;
    --clr-background2: #182f1d;
    --clr-primary: #75ce88;
    --clr-text: white;
    --clr-text2: #0b0d11;
    --clr-cards: black;
}

.wrapper-color-switch {
  display: flex;
  justify-content: right;
  padding-right: 3vw;
  align-items: center;
  margin-bottom: 1em;
}

.color-switch {
    width: 2.5em;
    height: 1.45em;
    border-radius: 10em;
    background: var(--clr-base);
    border: 2.25px solid var(--clr-primary);
    position: absolute;
    cursor: pointer;
}

.color-switch-toggle {
    width: 1em;
    height: 1em;
    background: var(--clr-primary);
    position: absolute;
    border-radius: 10em;
    top: 0.10em;
    left: 0.10em;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.color-switch::before {
    position: absolute;
    display: inline-block;
    width: 12em;
    left: -100em;
    top: 0.4em;
}

#input-color-switch:checked ~ label .color-switch-toggle {
  transform: translatex(1em);
}

#input-color-switch {
    display: none;
}

.translate {
    padding-left: 3vw;
    padding-right: 3vw;
    flex-direction: column;
}

/* Navbar */
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-background);
    color: var(--clr-text);
}

.logo {
    font-size: 1.25em;
    font-weight: 600;
    margin: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.logo a {
    text-decoration: none;
    color: var(--clr-text);
}

.nav-links {
    height: 100%;
}

/* Start Section */
.start {
    width: 100%;
    height: 30vh;
    background-position: center top;
	background-size: cover;
    text-align: center;
}

/* Home Section */
.home {
    width: 100%;
    height: 100vh;
    margin: 30px auto;
}

#section1 {
    padding-top: 40px;
    color: var(--clr-text);
    font-size: 1.5em;
}

/* Footer */
#made {
    position: relative; bottom: 0px;
    background-color: var(--clr-background);
    text-align: center;
    font-size: 1.5em;
    padding: 15px;
}

/* Images */
.center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    width: 17vw;
    padding: 5vh;
}

.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 500px;
    width: 50vw;
    padding: 5vh;
}

.center3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
    width: 35vw;
    padding: 5vh;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: var(--clr-text);
    padding: 1rem;
    display: block;
    font-size: 1rem;
}

.nav-links li a:hover {
    color: var(--clr-primary);
}

.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	margin-top: 125px;
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid var(--clr-text);
  border-bottom: 2px solid var(--clr-text);
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid var(--clr-text);
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: var(--clr-text);
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid var(--clr-text);
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

/* Toggle Button */
.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--clr-text);
    border-radius: 5px;
}

@media (max-width: 800px) {
    .toggle-button {
        display: flex;
    }
    .nav-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links ul{
        flex-direction: column;
        width: 100%;
    }

    .nav-links li{
        text-align: center;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .nav-links ul li a {
        padding: .5rem 1rem;
    }

    .nav-links.active {
        display: flex;
    }
}