@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
}

/* Dark Mode */
:root {
    --clr-background: #fffcf8;
    --clr-primary: #e86500;
    --clr-text: #0b0d11;
}

/* Light Mode */ 
.light-mode {
    --clr-background: #fefaf4;
    --clr-primary: #d25b00;
    --clr-text: #0b0d11;
}

/* Dark Mode */
.dark-mode {
    --clr-background: #1e1b1e;
    --clr-primary: #409c54;
    --clr-text: white;
}

.wrapper-color-switch {
  display: flex;
  justify-content: left;
  padding-left: 30px;
  padding-top: 10px;
  align-items: center;
  margin-bottom: 1em;
}

.color-switch {
    width: 2.5em;
    height: 1.45em;
    border-radius: 10em;
    background: var(--clr-base);
    border: 2.25px solid var(--clr-primary);
    position: absolute;
    cursor: pointer;
}

.color-switch-toggle {
    width: 1em;
    height: 1em;
    background: var(--clr-primary);
    position: absolute;
    border-radius: 10em;
    top: 0.10em;
    left: 0.10em;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.color-switch::before {
    position: absolute;
    display: inline-block;
    width: 12em;
    left: -100em;
    top: 0.4em;
}

#input-color-switch:checked ~ label .color-switch-toggle {
  transform: translatex(1em);
}

#input-color-switch {
    display: none;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--clr-background);
    color: var(--clr-text);
}

span {
    font-family: 'Rock 3D', cursive;
    color: var(--clr-primary);
    font-weight: 1000;
}

img {
    max-width: 60%;
    max-height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: var(--clr-primary);
}

p {
    text-align: center;
    font-weight: 400;
}

/* Navbar section */
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-background);
    color: var(--clr-text);
}

.logo {
    font-size: 1.5rem;
    margin: 1rem;
    font-family: 'Rock 3D', cursive;
}

.logo a {
    text-decoration: none;
    color: var(--clr-text);
}

.nav-links {
    height: 100%;
}

.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: var(--clr-text);
    padding: 1rem;
    display: block;
    font-size: 1rem;
}

.nav-links li a:hover {
    color: var(--clr-primary);
}

#section1 {
    padding-top: 40px;
    height: 175px;
    color: var(--clr-text);
}

/* Toggle button */
.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--clr-text);
    border-radius: 5px;
}

@media (max-width: 800px) {
    .toggle-button {
        display: flex;
    }
    .nav-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links ul{
        flex-direction: column;
        width: 100%;
    }

    .nav-links li{
        text-align: center;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .nav-links ul li a {
        padding: .5rem 1rem;
    }

    .nav-links.active {
        display: flex;
    }
}


/* Start section */
.start {
    width: 100%;
    height: 30vh;
    background-position: center top;
	background-size:cover;
    text-align: center;
    font-size: 3rem;
}

/* Home section */
.home {
    width: 100%;
    height: 100vh;
}

.myH2 {
	text-align: center;
	font-size: 2rem;
    font-weight: 600;
}

.myP {
	text-align: center;
	padding-left:15%;
	padding-right:15%;
	font-size: 1rem;
}

.typing {
    color: var(--clr-text);
    width: 100%;
    height: 50%;  
    align-items: center;
    justify-content: center;
}

.typing h2 {
    text-align:center;
	font-size: 2rem;
    font-weight: 600;
}

.typing h4 {
    text-align:center;
	font-size: 1.5rem;
}

/* Videso */
iframe {
    margin: 0 auto;
    background-color: var(--clr-background);
    display: block;
}

/* Footer */
#made {
    position: relative; bottom: 0px;
    background-color: var(--clr-background);
    text-align: center;
    padding: 15px;
}