@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}
  
body {
  margin: 0;
  font-family: "Jost", sans-serif;
}

/*--------------Colors--------------*/
:root {
  --background: white;
  --text-black: #080B32;
  --text-white: white;
  --accent-dark: #2D3264;
  --accent-light: #E0E3FF;
  --button-color: #8C97FF;
  --button-color-hover: white;
}

/*--------------Korean--------------*/
.korean {
  font-family: "Noto Sans KR", sans-serif;
}

/*--------------Navbar--------------*/
.nav {
  width: 100%;
  background-color: var(--background);
  display: flex;
  align-items: center;
}
.nav > .nav-header {
  flex: 0.95;
  padding-left: 1rem;
}
.nav > .nav-header > .nav-title {
  font-size: 20px;
  color: var(--text-black);
}
.nav > .nav-list {
  display: flex;
  gap: 2rem;
}
.nav > .nav-list > li {
  list-style-type: none;
}
.nav > .nav-list > li a {
  text-decoration: none;
  color: var(--text-black);
  cursor: pointer;
}
.nav > #nav-check {
    display: none;
}

.nav li a.active {
  color: var(--button-color);
}

/*--------------Responsive Navbar--------------*/
@media (max-width: 480px) {
  .nav {
    padding: 1rem;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 0.2rem;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    background-color: white;
    height: 0;
    transition: all 0.3s ease-in;
    top: 40px;
    left: 0;
    overflow: hidden;
  }
  .nav > .nav-list > li {
    width: 100%;
    margin-top: 1.5rem;
  }
  .nav > #nav-check:checked ~ .nav-list {
    height: calc(100vh - 50px);
  }
}

/*--------------Header--------------*/
.myHeader {
  text-align: center;
}

.myHeader h1 {
  font-size: 7vh;
  padding: 2.5%;
  color: var(--text-black);
}

.myHeader h2 {
  font-size: 2vh;
  font-weight: 400;
  padding-bottom: 10%;
  color: var(--button-color);
}

.myHeader h3 {
  padding-top: 10%;
  font-size: 3vh;
  font-weight: 400;
}

.myHeader img {
  width: 75vw;
}

.myHeader p {
  font-weight: 400;
  font-size: 2vh;
  padding-left: 10%;
  padding-right: 10%;
}

/*--------------Reflection--------------*/
.myReflection {
  text-align: center;
}

.myReflection h1 {
  font-size: 7vh;
  padding: 2.5%;
  color: var(--text-black);
}

.myReflection h2 {
  font-size: 2vh;
  font-weight: 400;
  padding-bottom: 10%;
  color: var(--button-color);
}

.myReflection h3 {
  padding-top: 10%;
  font-size: 3vh;
  font-weight: 400;
}

.myReflection img {
  width: 75vw;
}

.myReflection p {
  font-weight: 400;
  font-size: 2vh;
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
}

.myReflection li {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  list-style-type: none;
}

#worksCited {
  text-align: center;
  font-weight: bold;
}

/*--------------About--------------*/
.myAbout {
  background-color: var(--accent-light);
  color: var(--text-black);
  text-align: center;
  padding: 10%;
}

.myAbout h3 {
  font-size: 3vh;
  font-weight: 400;
}

.myAbout p {
  font-size: 2vh;
}

/*--------------Button--------------*/
.button {
  background-color: var(--button-color);
  border: none;
  color: var(--text-white);
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vh;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2.5px;
  border: 1px solid white;
}

.button:hover {
  background-color: var(--button-color-hover);
  color: var(--accent-dark);
  border: 1px solid var(--text-white);
}

/*--------------Works Cited--------------*/
.worksCited {
  text-align: center;
}

.worksCited h1 {
  font-size: 7vh;
  padding: 2.5%;
  color: var(--text-black);
}

.worksCited h2 {
  font-size: 2vh;
  font-weight: 400;
  padding-bottom: 10%;
  color: var(--button-color);
}

.worksCited img {
  width: 75vw;
}

.worksCited p {
  font-size: 1.75vh;
  font-weight: 400;
  padding-bottom: 10%;
}

/*--------------Footer--------------*/
.footer {
  padding-top: 10%;
  padding-bottom: 3%;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: var(--button-color);
}

/*--------------Images--------------*/
.myAbout img {
  width: 30%;
  border-radius: 5px;
  border: 5px solid var(--accent-dark);
}

.myHeader img {
  width: 25%;
  border-radius: 5px;
  border: 5px solid var(--accent-dark);
}