@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Spline+Sans:wght@400;500;600;700&display=swap');

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1 {
    color: black;
    font-family: "Arvo", sans-serif;
    font-size: 24;
}

h2 {
    color: black;
    font-family: "Arvo", sans-serif;
    font-size: 14;
    ;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: burlywood;
}


#images img {
    background-color:antiquewhite;
    padding: 20px;
    border-style: groove;
    border-width: 3px;
    border-color:black;
    position: absolute; top: 75px; left: 900px;
}

#headshot img {
    position: absolute; top: 75px; left: 900px;
}

.quote {
    position: absolute; top: 100px; left: 200px;
    padding: 25px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    text-align: center;
}

.explain {
    position: absolute; top: 300px; left: 700px;
    padding: 25px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    text-align: center;
}

.email {
    position: absolute; top: 600px; left: 200px;
    padding: 25px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    text-align: center;
}