@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Spline+Sans:wght@400;500;600;700&display=swap');

body {
    background-color: #181818;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: white;
}

h1 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 44px;
    margin: 10px;
}

.myP {
    margin: 10px;
}

h2 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

/* Navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#181818;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #f0cc52;
    color: black;
    border-radius: 20px;
}

/* Images */
#headshot img {
    padding: 10px;
    border-color:black;
}

/* Home */
.quote {
    position: absolute; top: 225px; left: 335px;
    color: black;
    background-color: #f0cc52;
    padding: 25px;
    border-style: solid;
    border-color: #caa93f;
    border-width: 5px;
    border-radius: 30px;
    width: 800px;
}

.explain {
    position: absolute; top: 325px; left: 335px;
    color: black;
    background-color: #f0cc52;
    padding: 25px;
    border-style: solid;
    border-color: #caa93f;
    border-width: 5px;
    border-radius: 30px;
    width: 800px;
}

.email {
    position: absolute; top: 425px; left: 335px;
    color: black;
    background-color: #f0cc52;
    padding: 25px;
    border-style: solid;
    border-color: #caa93f;
    border-width: 5px;
    border-radius: 30px;
    width: 800px;
}

.hover-text {
    position: absolute; top: 525px; left: 335px;
    color: black;
    background-color: #f0cc52;
    padding: 25px;
    border-style: solid;
    border-color: #caa93f;
    border-width: 5px;
    border-radius: 30px;
    width: 800px;
}

.yellow-tactile-background {
    position: absolute; top: 200px; left: 315px;
    background-color: #ebcf72;
    width: 900px;
    height: 475px;
    border-radius: 10px;
}

.hidden {
    position: absolute; top: 700px; left: 340px;
    color: white;
    background-color: #181818;
    padding: 15px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 30px;
    width: 800px;
    display: none;
}

span:hover + div {
    display: block;
}

.little-hover-text {
    position: absolute; top: 700px; left: 335px;
    color: black;
    background-color: #f0cc52;
    padding: 25px;
    border-style: solid;
    border-color: #caa93f;
    border-width: 5px;
    border-radius: 30px;
    width: 800px;
}

.little-yellow-tactile-background {
    position: absolute; top: 700px; left: 315px;
    background-color: #ebcf72;
    width: 900px;
    height: 135px;
    border-radius: 10px;
}

.little-hidden {
    position: absolute; top: 860px; left: 340px;
    color: white;
    background-color: #181818;
    padding: 15px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 30px;
    width: 800px;
    display: none;
}

.code-background-1 {
    position: absolute; top: 1110px; left: 315px;
    color: black;
    background-color: #949494;
    width: 900px;
    height: 415px;
    border-radius: 10px;
}

.code-background-2 {
    position: absolute; top: 1540px; left: 315px;
    color: black;
    background-color: #949494;
    width: 900px;
    height: 250px;
    border-radius: 10px;
}

.code-background-3 {
    position: absolute; top: 1805px; left: 315px;
    color: black;
    background-color: #949494;
    width: 900px;
    height: 310px;
    border-radius: 10px;
}

.code-background-4 {
    position: absolute; top: 2130px; left: 315px;
    color: black;
    background-color: #949494;
    width: 900px;
    height: 300px;
    border-radius: 10px;
}

.code-background-5 {
    position: absolute; top: 2445px; left: 315px;
    color: black;
    background-color: #949494;
    width: 900px;
    height: 280px;
    border-radius: 10px;
}

.code-background-6 {
    position: absolute; top: 2460px; left: 315px;
    color: black;
    background-color: #949494;
    width: 900px;
    height: 305px;
    border-radius: 10px;
}

.code-background-7 {
    position: absolute; top: 2780px; left: 315px;
    color: black;
    background-color: #949494;
    width: 900px;
    height: 230px;
    border-radius: 10px;
}

.code-background-8 {
    position: absolute; top: 3025px; left: 315px;
    color: black;
    background-color: #949494;
    width: 900px;
    height: 255px;
    border-radius: 10px;
}

.code-text {
    position: absolute; top: 15px; left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.myH1 {
    color: black;
    background-color: #f0cc52;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding: 25px;
    border-style: solid;
    border-color: #caa93f;
    border-width: 5px;
    border-radius: 30px;
    width: 800px;
}

.myH2 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

code {
    font-size: 24px;
}

/* Resources */
.grey-tactile-background {
    position: absolute; top: 200px; left: 315px;
    background-color: #949494;
    width: 900px;
    height: 475px;
    border-radius: 10px;
}

.citations-text {
    position: absolute; top: 15px; left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    color: #FF4033;
}

a:hover {
    color: white;
}
  
.wc a {
    text-decoration: none;
    color: white;
}

.wc a:hover {
    color: #f0cc52;
}

/* About */

/* Footer */
.index {
    display: block;
    position: absolute; top: 3700px; left: 600px;
    padding: 3px;
    background-color: #181818;
    color: white;
}

.resources {
    display: block;
    position: absolute; top: 1250px; left: 600px;
    background-color: #181818;
    color: white;
}

.about {
    display: block;
    position: absolute; top: 1200px; left: 600px;
    padding: 3px;
    background-color: #181818;
    color: white;
}