@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Spline+Sans:wght@400;500;600;700&display=swap');

body {
    background-color: #181818;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: white;
}

h1 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

h2 {
    color: white;
    font-family: "Arvo", sans-serif;
    font-size: 14px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

/* Navbar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#181818;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #f0cc52;
    color: black;
    border-radius: 20px;
}

/* Images */
#images img {
    background-color:antiquewhite;
    padding: 20px;
    border-style: groove;
    border-width: 3px;
    border-color:black;
    position: absolute; top: 75px; left: 900px;
}

/* Home */
.quote {
    position: absolute; top: 225px; left: 335px;
    color: black;
    background-color: #f0cc52;
    padding: 25px;
    border-style: solid;
    border-color: #caa93f;
    border-width: 5px;
    border-radius: 30px;
    width: 800px;
}

.explain {
    position: absolute; top: 325px; left: 335px;
    color: black;
    background-color: #f0cc52;
    padding: 25px;
    border-style: solid;
    border-color: #caa93f;
    border-width: 5px;
    border-radius: 30px;
    width: 800px;
}

.email {
    position: absolute; top: 425px; left: 335px;
    color: black;
    background-color: #f0cc52;
    padding: 25px;
    border-style: solid;
    border-color: #caa93f;
    border-width: 5px;
    border-radius: 30px;
    width: 800px;
}

.hover-text {
    position: absolute; top: 525px; left: 335px;
    color: black;
    background-color: #f0cc52;
    padding: 25px;
    border-style: solid;
    border-color: #caa93f;
    border-width: 5px;
    border-radius: 30px;
    width: 800px;
}

.tactile-background {
    position: absolute; top: 200px; left: 315px;
    background-color: #ebcf72;
    width: 900px;
    height: 475px;
    border-radius: 10px;
}

.hidden {
    position: absolute; top: 700px; left: 340px;
    color: white;
    background-color: #181818;
    padding: 15px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 30px;
    width: 800px;
    display: none;
}

span:hover + div {
    display: block;
}

.code-background-1 {
    position: absolute; top: 1110px; left: 323px;
    color: black;
    background-color: #ebcf72;
    width: 900px;
    height: 375px;
    border-radius: 10px;
}

.code-background-2 {
    position: absolute; top: 1500px; left: 323px;
    color: black;
    background-color: #ebcf72;
    width: 900px;
    height: 275px;
    border-radius: 10px;
}

.code-background-3 {
    position: absolute; top: 1790px; left: 323px;
    color: black;
    background-color: #ebcf72;
    width: 900px;
    height: 375px;
    border-radius: 10px;
}

.code-text {
    position: absolute; top: 30px; left: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.myH1 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 44px;
}

.myH2 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

code {
    font-size: 24px;
}

/* Resources */

/* About */