@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Spline+Sans:wght@400;500;600;700&display=swap');

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1 {
    color: black;
    font-family: "Arvo", sans-serif;
    font-size: 24;
    text-align: center;
}

img {
    max-width: 50%;
    max-height: 50%;
}

h2 {
    color: black;
    font-family: "Arvo", sans-serif;
    font-size: 14;
    ;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12;
}